
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section Styles */
section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Skills Styles */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

/* Project Styles */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}



.project h3 {
    margin: 10px 0 5px;
}

.project p {
    text-align: justify;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex-direction: column;
    }
}
